.wrapper {
    width: 924px;
    margin-top: 32px;
    position: relative;
}

.list-item {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-left: -16px;
}

.item {
    margin: 0 16px;
}
