.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 1200px;
    height: 477px;
    border-radius: 15px;
    margin-top: 40px;
}