.wrapper {
    width: 924px;
    margin-top: 32px;
    position: relative;
}

.list-item {
    width: calc(100% + 8px);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-left: -10px;
    position: relative;
}

.item {
    margin: 0 10px;
}
