.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 1196px;
    height: 386px;
    border-radius: 8px;
    margin-top: 16px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-48 {
    margin-top: 48px;
}

.mb-48 {
    margin-bottom: 48px;
}
