.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin-bottom: 4px;

    &:last-child {
        margin-bottom: 0;
    }
}

.info,
.silver,
.gold,
.diamond {
    padding: 8px 0;
}

.info {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 16px;
    background-color: #f8f8f8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #111;
    font-size: 1.6rem;
}

.item-desc {
    margin-left: 16px;
}

.silver,
.gold,
.diamond {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.silver {
    background-color: #eaf0fd;
}

.gold {
    background-color: #fffbf0;
}

.diamond {
    background: linear-gradient(90deg, rgb(225, 225, 225) -11.22%, rgb(198, 198, 198) -11.21%, rgb(232, 232, 232) 29.91%, rgb(232, 232, 232) 54.24%, rgb(215, 215, 215) 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}